@import '../../../App.scss';

.menu-bar-wrapper {
  width: 100%;
  // height: 5vh;
  display: flex;
  .menu-bar {
    width: 100%;
    display: flex;
    background: transparent;
    padding: 0 6vw;
    align-items: center;
  }

  .menu-bar.left {
    display: flex;
    * {padding-right: 1vw;}
  }
  .menu-bar.right {
    display: flex;
    justify-content: flex-end;
    .menu-icon {
      padding-right: 3vw;
    }
  }
}
